.limited-section-container {
    margin-top: 120px;
    cursor: pointer;
    //items with S
    .items-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 10px;
        gap: 10px;
        // item no S
        .item-container {
            margin-bottom: 30px;
        }

    }

}