.main-input {
    height: 40px;
    border-radius: 20px;
    outline: none;
    background-image: url('../../assets/images/s-icon.png');
    background-repeat: no-repeat;
    background-position: 20px;
    // color: #617cef;
    background-size: 20px;
    padding-left: 50px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    width: 90%;

    // padding-left: 50px;

}