$color-text: red;
$sidebar-width: 15%;
$margin-from-the-navbar: 200px;
$margin-bottom-100px : 100px;
$margin-bottom-50px : 50px;
$main-grey-color: #666666;
$main-border-color: #ececec;
$percent-50:50%